activemq {
    org.apache.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://ldap:10389"
        connectionUsername="uid=admin,ou=system"
        connectionPassword="secret"
        connectionProtocol=s
        authentication=simple
        userBase="ou=users,dc=example,dc=com"
        userSearchMatching="(cn={0})"
        userSearchSubtree=true
        roleBase="ou=activemq,ou=groups,dc=example,dc=com"
        roleName=cn
        roleSearchMatching="(member={0})"
        roleSearchSubtree=true;
};